body {   
    background-image: url("https://wallpapercave.com/dwp1x/wp5156508.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    /* margin-bottom: 5px; */

    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

:root {
    --primary-background-color: #120816;
    --secondary-background-color: hsl(283, 47%, 10%);
}