
.playerBar {
    background-image: linear-gradient(rgba(173, 173, 173, 0.778), rgba(0, 0, 0, 0.779),rgba(0, 0, 0, 1));
    backdrop-filter: blur(4px);
    padding: 12px 4px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 30px;
    color: white;
    display: inline-block;
}

.playerBar img {
    width: 32px;
    height: 32px;
    margin-left: -1px;
    color: white;
}

.playerBar button {
    z-index:100;
    border-radius: 100%;
    border: none;
    width: 64px;
    height: 64px;
    background-color: rgba(180, 180, 180, 1);
    border: 2px solid rgb(1, 63, 235);
    transition: 0.3s;
    margin-left: 45%;

    position: absolute;
    bottom: 12px;
    outline: none;
}

.playerBar h2 {
    margin: 0;
    margin-left: 15px;
    max-width: 35%;
    font-style: normal;
}

.playerBar button:hover {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgb(2, 26, 92);
    cursor: pointer;
}

.playerBar .volumeBar {
    margin: 0;
    margin-left: 75%;
    color: blue;
    position: absolute;
    bottom: 20px;
}

.progressBar {
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 44px;
    left: -5px;
}

p {
    margin: 0;
    margin-left: 60%;
    position: absolute;
    bottom: 18px;
}
